body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0; 
}

.container {
    width: 100%;
    max-width: 600px; 
    height: auto;
    /* Mantém a proporção da imagem original (1080x1920) */
    aspect-ratio: 1080 / 1920; 
    
    /* --- NOME DA IMAGEM DE FUNDO --- */
    background-image: url('GRUPO LONDRINA (1).jpg'); 
    
    background-size: cover;
    background-position: center;
    position: relative;
    margin: auto;
}

.link {
    position: absolute;
    display: block;
    
    /* --- AJUSTE VISUAL --- */
    /* Remova o "/*" da linha abaixo para ver os quadrados vermelhos e ajustar a posição */
    /* background-color: rgba(255, 0, 0, 0.5); */
}


/* --- Posicionamento dos 5 Botões --- */

/* 1. Grupo Londrina */
#link-londrina {
    top: 45%; 
    left: 15%;
    width: 70%;
    height: 8%;
}

/* 2. Grupo Maringá */
#link-maringa {
    top: 56%; 
    left: 15%;
    width: 70%;
    height: 8%;
}

/* 3. Formulário de Reserva */
#link-reserva {
    top: 67%;
    left: 15%;
    width: 70%;
    height: 8%;
}

/* 4. Próximos Roteiros */
#link-roteiros {
    top: 78%;
    left: 15%;
    width: 70%;
    height: 8%;
}

/* 5. Contato */
#link-contato {
    top: 89%; 
    left: 15%;
    width: 70%;
    height: 8%;
}



