body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0; 
}

.container {
    width: 100%;
    max-width: 600px; 
    height: auto;
    /* Garante altura mínima para veres o fundo */
    min-height: 100vh;
    aspect-ratio: 1080 / 1920; 
    
    /* --- CORREÇÃO AQUI --- */
    /* O nome deve ser EXATO, incluindo espaços e a extensão .png */
    background-image: url('GRUPO LONDRINA (1).png'); 
    
    background-size: cover;
    background-position: center;
    position: relative;
    margin: auto;
}

.link {
    position: absolute;
    display: block;
    
    /* --- MODO VISUALIZAÇÃO (Links Vermelhos) --- */
    /* Remove isto depois de ajustares */
    background-color: rgba(255, 0, 0, 0.5); 
    border: 2px solid red; 
}


/* --- Posicionamento dos 5 Botões --- */

/* 1. Grupo Londrina */
#link-londrina {
    top: 45%; 
    left: 15%;
    width: 70%;
    height: 8%;
}

/* 2. Grupo Maringá */
#link-maringa {
    top: 56%; 
    left: 15%;
    width: 70%;
    height: 8%;
}

/* 3. Formulário de Reserva */
#link-reserva {
    top: 67%;
    left: 15%;
    width: 70%;
    height: 8%;
}

/* 4. Próximos Roteiros */
#link-roteiros {
    top: 78%;
    left: 15%;
    width: 70%;
    height: 8%;
}

/* 5. Contato */
#link-contato {
    top: 89%; 
    left: 15%;
    width: 70%;
    height: 8%;
}
