body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0; 
}

.container {
    width: 100%;
    max-width: 600px; 
    height: auto;
    aspect-ratio: 1080 / 1920; 
    /* --- NOME DA IMAGEM DE FUNDO ATUALIZADO AQUI --- */
    background-image: url('GRUPO LONDRINA.png'); 
    background-size: cover;
    background-position: center;
    position: relative;
    margin: auto;
}

.link {
    position: absolute;
    display: block;
    /* A linha abaixo foi "comentada" para remover as caixas vermelhas */
    background-color: rgba(255, 0, 0, 0.4);
}


/* --- Versão Final do Posicionamento e Largura (AJUSTADOS) --- */

#link-londrina {
    top: 57%; /* Ajustado para o botão "GRUPO LONDRINA" */
    left: 15%;
    width: 70%;
    height: 9%;
}

#link-maringa {
    top: 70%; /* Ajustado para o botão "GRUPO MARINGÁ" */
    left: 15%;
    width: 70%;
    height: 9%;
}

/* O #link-cornelio foi removido, pois o botão não existe mais no HTML */

#link-contato {
    top: 83%; /* Ajustado para o botão "CONTATO" (agora na posição do antigo Cornélio) */
    left: 15%;
    width: 70%;
    height: 9%;
}








