body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0; 
}

.container {
    width: 100%;
    max-width: 600px; 
    height: auto;
    aspect-ratio: 1080 / 1920; 
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    position: relative;
    margin: auto;
}

.link {
    position: absolute;
    display: block;
    /* A área vermelha ainda está ativa para você ver a mudança na largura */
    background-color: rgba(255, 0, 0, 0.4); 
}


/* --- AJUSTE DE LARGURA --- */
/* Aumentamos a 'width' para 60% e diminuímos a 'left' para 20% em todos os links */

#link-londrina {
    top: 53%;
    left: 20%;   /* <-- MUDOU */
    width: 60%;  /* <-- MUDOU */
    height: 9%;
}

#link-maringa {
    top: 64%;
    left: 20%;   /* <-- MUDOU */
    width: 60%;  /* <-- MUDOU */
    height: 9%;
}

#link-cornelio {
    top: 75%;
    left: 20%;   /* <-- MUDOU */
    width: 60%;  /* <-- MUDOU */
    height: 9%;
}

#link-contato {
    top: 86%;
    left: 20%;   /* <-- MUDOU */
    width: 60%;  /* <-- MUDOU */
    height: 9%;
}
